<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <img src="/assets/imgs/logo_eu_piloto_branco.png" style="width:85px; height:55px;">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      @if (isLoggedIn) {
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home</a>
        </li>
      } 
      
      @if (!isLoggedIn) {
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      } 

      @if (showAdminBoard) {
        <li class="nav-item">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
      }
      @if (showModeratorBoard) {
        <li class="nav-item">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
      }
      <!-- @if (isLoggedIn) {
        <li class="nav-item">
          <a href="/user" class="nav-link" routerLink="user">Usuário</a>
        </li>
      } -->
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Loja</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Parceiros</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Notícias</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="meteorology">Metereologia</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="contact">Contato</a>
      </li>
    </ul>
    @if (!isLoggedIn) {
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Registrar</a>
        </li>
      </ul>
    } @else {
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Sair</a>
        </li>
      </ul>
    }
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
